<div *ngFor="let employee of (list$ | async)?.list" class="employee-list-item">
  <div class="employee-list-item__img employee-list-item__cell">
    <img src="" alt="" />
  </div>
  <div class="employee-list-item__name employee-list-item__cell">
    {{ employee.name }}
  </div>
  <div
    title="2 days available for vacation"
    class="employee-list-item__days-available employee-list-item__cell"
  >
    2
  </div>
  <div
    title="Updated at {{ employee.updatedAt }}"
    class="employee-list-item__last-updated employee-list-item__cell"
  >
    {{ employee.updatedAt }}
  </div>
</div>
